<!-- about section starts  -->

<section class="about" id="about">

  <h1 class="heading"> <span>about</span> me </h1>

  <div class="row">

    <div class="info">
      <h3> <span> Name : </span> Chirag Nayak </h3>
      <h3> <span> Age : </span> 22 </h3>
      <h3>
        <span> Qualification : </span>
        Computer Programming(CMPG) Diploma
      </h3>
      <h3> <span> Position : </span> Looking for Opportunities </h3>
      <h3> <span> Language : </span> English </h3>
    </div>

    <div class="counter">

      <div class="box">
        <span>1+</span>
        <h3>years of experience</h3>
      </div>
    </div>

  </div>

</section>

<!-- about section ends -->