<section class="about" id="about">
  <h1 class="heading"> Sorry, we missed you. </h1>
  <div class="row">
  <form action="/create-checkout-session" method="post">
    <button class="btn" id="stripeCheckout">
      Support Me..
      <i class="fas fa-paper-plane"></i>
    </button>
  </form>
  </div>
</section>