<section class="home" id="home">

  <h3>Hello !!</h3>
  <h1>I'M <span>Chirag Nayak</span></h1>
  <p>Adaptive to new technology, self-motivated person who looking for the web
    developer position at your company.</p>
  <a href="/about"><button class="btn">about me
      <i class="fas fa-user"></i></button></a>

</section>