<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirag Nayak Portfolio</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>
  <body>
    <header>

    <div class="user">
        <h3 class="name">Chirag Nayak</h3>
        <p class="post">front end developer</p>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/project">Project</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/supportme"> Support ME</a></li>
        </ul>
    </nav>

</header>

<div id="menu" class="fas fa-bars"></div>



<!-- header section ends -->

    {{{body}}}

   {{!-- Footer Section  --}}
   <div class="col-lg-4 mb-5 mb-lg-0" id="white-section">
      <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/chiragynayak/"><i class="fab fa-fw fa-linkedin"></i></a>
      <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Chirag1805Nayak"><i class="fab fa-fw fa-github"></i></a>
   </div>

<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="javascripts/script.js"></script>
  </body>
</html>
