<!-- project section starts  -->

<section class="project" id="project">

<h1 class="heading"> My <span>Projects</span> </h1>

<div class="box-container">

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2021</span>
        <h3>Pizza Delivery Website</h3>
        <p>I made this project as an assignment using HTML, CSS, and JS.</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2021</span>
        <h3>Ping Pong Game</h3>
        <p>This was made using Arduino-uno and was completed as an extra project to test my skills. </p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2021</span>
        <h3>Online food order app</h3>
        <p>Made using .net, C# to take online order for a food company.</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2022</span>
        <h3>F1 Drivers Search</h3>
        <p>In this project I used JavaFX and  F1 API to let users search for their fav drivers and have info about them with stats. </p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2022</span>
        <h3>Candy Shop</h3>
        <p>Created this app with #C and .Net frameworks as an assignment and I am still working on it to add payment options for users.</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2023</span>
        <h3>Portfolio Website</h3>
        <p>This website made through node.js and Express JS for an assignment</p>
    </div>

</div>

</section>

<!-- project section ends -->