<section class="about" id="about">

  <h1 class="heading"> <span>Thanks for your support</span> </h1>

  <div class="row">

    <button
      class="btn"
      onclick="window.location.href='http://nayakchirag.onrender.com/';"
    > Home <i class="fas fa-paper-plane"></i> </button>

  </div>

</section>